/* here goes all the custom styles */
main {
  min-height: 80vh;
}
.header-right {
  margin-left: auto; /* cart and login to ekdam right */
}
a {
  text-decoration: none;
}
a:hover {
  font-weight: bold;
}
h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem;
}
h2 {
  font-size: 1.4rem;
  padding: 0.5rem;
}
.btn-full-width {
  width: 100%;
}
.rating span:last-child {
  margin-left: 0.2rem;
}
.cart-qty {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: red;
  padding: 0.5rem;
  margin-top: 0.2rem;
  margin-right: 0.1rem;
  position: relative;
}
.cart-qty-text {
  color: white;
  height: auto;
  width: 10px;
  font-size: 12px;
  margin-bottom: 3rem;
  padding-bottom: 2rem;
  position: absolute;
  margin-right: 4px;
  transform: translateY(-6px) translateX(-2px);
}

.NavItem {
  margin-right: 0em;
}
.formCheck {
  margin-left: auto;
}
/* .paymentFormGroup {
  margin-right: auto;
}

.form-check .form-check-input {
  float: left;
  margin-left: 1rem;
} */

/* Carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}
.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
}
.carousel a {
  margin: 0 auto;
}
